body{
    font-family: 'Poppins', sans-serif;
    background: #Ffebd1;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 500px;
    margin: auto;
}

figure, figure img{
    display: inline-block;
    width: 100%;
}

figure {
    position: relative;
}

figure .backimg{
    position: absolute;
    top: 0;
}