body{
    font-family: 'Poppins', sans-serif;
    background: #Ffebd1;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.game-info{
    background-color: #F3f3f5;
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    font-size: small;
    box-shadow: 3px 3px 16px rgba(0,0,0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.game-time{
    background-color: #F3f3f5;
    text-align: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    font-size: 40px;
    box-shadow: 3px 3px 16px rgba(0,0,0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    margin: 2rem;
    text-shadow: 2px 2px 2px rgb(0,0,0, .46);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    margin: auto;
    grid-gap: 20px;
    padding: 20px;
}

figure, figure img{
    display: inline-block;
    width: 100%;
    border-radius: 10px;
}

figure {
    position: relative;
    transition: all  ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

figure.selected{
    transform: perspective(600px) rotateY(180deg);
}


figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: 0.3s all ease;
}

figure:hover:after {
    background: rgba(255, 255, 255, 0.137);
}

figure .img{
    position: absolute;
    top: 0;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
}


@media screen and (max-width: 720px){
    .game-info{
        background-color: #F3f3f5;
        text-align: center;
        margin: auto;
        max-width: 300px;
        padding: 10px;
        font-size: small;
        box-shadow: 3px 3px 16px rgba(0,0,0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 500px;
        margin: auto;
        grid-gap: 10px;
        padding: 15px;
    }

    .game-time{
        background-color: #F3f3f5;
        text-align: center;
        margin: auto;
        max-width: 200px;
        padding: 10px;
        font-size: 15px;
        box-shadow: 3px 3px 16px rgba(0,0,0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .game-info h2 {
        font-size: 15px;
    }
    
    h1 {
        font-size: 20px;
        text-align: center;
        margin: 2rem;
        text-shadow: 2px 2px 2px rgb(0,0,0, .46);
    }
}